<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-12" data-aos="fade-right">
        <div class="footer-logo">
          <div class="logo">
            <img src="/assets/images/logo/footer-logo.svg" alt="logo">
          </div>
        </div>

        <div class="footer-text">
          <h4>At Koolcard, we invite you to embark on a journey of taste and delight.Our tables are more
            than just places.</h4>
        </div>

        <div class="footer-icon">
          <div class="icon">
            <a href="https://www.facebook.com/" target="_blank"><i
              class="fa-brands fa-facebook-f"></i></a>
            <a href="https://twitter.com/" target="_blank"><i class="fa-brands fa-twitter"></i></a>
            <a href="https://www.instagram.com/" target="_blank"><i
              class="fa-brands fa-instagram"></i></a>
            <a href="https://www.youtube.com/" target="_blank"><i class="fa-brands fa-youtube"></i></a>
          </div>
        </div>
      </div>


      <div class="col-lg-8 mol-md-12 ">
        <div class="row">
          <div class="col-lg-3 col-md-3" data-aos="fade-right" data-aos-delay="100">
            <div class="quick-line-item">
              <div class="quick-line-item-head">
                <h3>Quick Link</h3>
              </div>


              <div class="quick-line-menu">
                <ul>
                  <li>
                    <a href="dashboard.html">My Account</a>
                  </li>
                  <li>
                    <a href="about.html">About Us</a>
                  </li>
                  <li>
                    <a href="contact.html">Store Locator</a>
                  </li>
                  <li>
                    <a href="contact.html">Delivery</a>
                  </li>
                  <li>
                    <a href="contact.html">Pickup</a>
                  </li>
                </ul>
              </div>

            </div>
          </div>
          <div class="col-lg-3 col-md-3" data-aos="fade-right" data-aos-delay="200">
            <div class="quick-line-item">
              <div class="quick-line-item-head">
                <h3>Terms & Privacy</h3>
              </div>

              <div class="quick-line-menu">
                <ul>
                  <li>
                    <a href="trust-safety.html">Trust & Safety</a>
                  </li>
                  <li>
                    <a href="terms-service.html">Terms of Service</a>
                  </li>
                  <li>
                    <a href="privacy-policy.html">Privacy Policy</a>
                  </li>

                </ul>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-6" data-aos="fade-right" data-aos-delay="300">
            <div class="quick-line-item">
              <div class="quick-line-item-head">
                <h3>Subscribe our Newsletter</h3>
              </div>

              <div class="quick-line-btn">
                <div class="icon">
                  <img src="/assets/images/icon/sms.png" alt="icon">
                </div>
                <input type="email" class="form-control" id="exampleFormControlInput6"
                       placeholder="Your email">
                <a href="#" class="main-btn-four">Subscribe</a>
              </div>


              <div class="quick-line-btn-text">
                <h6>We accept Payment methods:</h6>
              </div>

              <div class="quick-line-btn-img">
                <a href="#">
                  <img src="/assets/images/small/Visa.png" alt="img">
                </a>
                <a href="#">
                  <img src="/assets/images/small/Amex.png" alt="img">
                </a>
                <a href="#">
                  <img src="/assets/images/small/PayPal.png" alt="img">
                </a>
                <a href="#">
                  <img src="/assets/images/small/Mastercard.png" alt="img">
                </a>
                <a href="#">
                  <img src="/assets/images/small/GooglePay.png" alt="img">
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>


    </div>
  </div>
</footer>
